// $bg-body: #16182a;
// $bg-body-lighter: #212548;

$bg-body: #10121a;
$bg-body-lighter: #262934;
$bg-body-darker: #0f1118;

$body-text: #c6c7cf;

$border-light: rgba(255, 255, 255, 0.1);

$highlight-red: #ff6c6c;

$font-raleway: "Raleway", sans-serif;