@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap');

// Intro full width slider
.intro-slider {
    line-height: 0;

    .slick-slide {
        border: none !important;
    }
    .intro-slide {
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgb(0 0 0 / 35%);
            filter: drop-shadow(2px 4px 6px black);
        }

        .intro-slide-inner {
            height: 90vh;
        }

        img {
            display: block;
            height: auto;
            width: 100%;
        }

        .movie-detail-wrapper {
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            color: #fff;
            line-height: initial;
        }
        .movie-title {
            font-weight: bold;
            font-size: 110px;
        }
        .movie-genre-wrapper {
            display: flex;

            .movie-genre {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 1px;

                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
    .slick-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        right: 80px;
        left: unset;
        bottom: unset;
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        opacity: 0.65;
        z-index: 999;
        transition: all 0.1s ease-out;

        &::before {
            display: none;
        }

        &:hover {
            opacity: 1;
            color: #fff;
            transform: translateX(-50%) scale(1.1);
        }

        .icon {
            font-size: 22px;
        }

        &.slick-prev {
            margin-top: -35px;

            .icon {
                margin-top: -3px;
            }
        }
        &.slick-next {
            margin-top: 35px;

            .icon {
                margin-top: 3px;
            }
        }
    }
    .slick-dots {
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        left: 50px;
        bottom: unset;
        width: auto;

        li {
            cursor: default;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
            &.slick-active {
                button {
                    opacity: 1;
                    transform: scale(1.15);
                }
            }

            button {
                cursor: pointer;
                width: 10px;
                height: 10px;
                background: #fff;
                border-radius: 50%;
                opacity: 0.4;

                &::before {
                    display: none !important;
                }
            }
        }
    }
}
.item-showcase {
    .showcase-img {
        position: relative;
        transition: 0.1s ease-in-out;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.65);
            opacity: 0;
            transition: 0.3s ease-in-out;
            z-index: 9;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 45%;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            z-index: 9;
        }
        img {
            transition: 0.15s ease-in-out;
        }
        &:hover {
            &::before {
                opacity: 1;
            }
            .showcase-language,
            .showcase-certification {
                opacity: 1;
            }
            img {
                transform: scale(1.1);
            }
        }

        .showcase-language,
        .showcase-certification,
        .showcase-year {
            position: absolute;
            border: 1px solid rgba(255, 255, 255, 0.65);
            border-radius: 3px;
            font-size: 13px;
            font-weight: 500;
            z-index: 99;
            color: #fff;
            transition: 0.3s ease-in-out;
        }
        .showcase-language,
        .showcase-certification {
            opacity: 0;
        }
        .showcase-certification {
            top: 8px;
            left: 8px;
            padding: 0 6px;
        }
        .showcase-year {
            bottom: 8px;
            right: 8px;
            padding: 1px 5px;
        }
        .showcase-language {
            font-size: 12px;
            text-transform: uppercase;
            top: 8px;
            right: 8px;
            padding: 1px 5px;
        }
    }
    .showcase-desc {
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        margin: 6px 0 0;
    }
    .showcase-title {
        font-size: 20px;
        font-weight: 600;
        color: var(--theme-primary-highlight);
        text-decoration: none;
    }
}

.showcase-single {
    font-family: $font-opensans;

    .showcase-image {
        position: relative;

        img {
            opacity: 0.45;
        }
    }
    .showcase-details-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 35px 0;
        width: 100%;
        bottom: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(32px);
    }
    .showcase-title {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 15px;
        color: var(--theme-primary-highlight);
    }
    .showcase-details {
        display: flex;
        margin-bottom: 15px;
    }
    .showcase-genres {
        margin-bottom: 15px;

        .showcase-genre {
            background: var(--theme-primary);
            color: var(--theme-text-color);
            font-size: 14px;
            padding: 7px;
            border-radius: 14px;
            text-decoration: none;
            transition: 0.3s ease-in-out;

            &:hover {
                background: var(--theme-primary-darker);
            }
        }
    }
    .showcase-length {
        &::before {
            content: "\A";
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #fffefe;
            margin: 4px 10px;
            opacity: 0.5;
        }
    }
    .showcase-complete-details {
        padding: 50px 0;

        .sect-title {
            padding-left: 10px;
            font-size: 40px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
    }
}


.cast-slider {
    .cast-slide {
        padding: 0 10px;
        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
        .cast-details {
            margin-top: 10px;
        }
        .cast-name {
            font-weight: 700;
        }
        .cast-character-name {
            font-size: 13px;
            font-style: italic;
        }
    }
}

// Filters bar
.filters {
    position: relative;
    height: 80px;
    top: -80px;
    padding: 0 20px;
    background: var(--theme-primary-darker);
    color: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 -7px 8px 2px rgb(0 0 0 / 40%);

    .filters-wrapper {
        position: relative;
        height: 100%;
        // max-width: 65%;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(90deg, var(--theme-primary-darker) 0%, rgba(0,0,0,0) 100%);
            height: 100%;
            width: 100px;
            user-select: none;
            pointer-events: none;
            z-index: 9;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            background: linear-gradient(270deg, var(--theme-primary-darker) 0%, rgba(0,0,0,0) 100%);
            height: 100%;
            width: 100px;
            user-select: none;
            pointer-events: none;
        }
    }
    .filters-wrapper-inner {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 60px;
        overflow-x: scroll;
        scrollbar-color: var(--theme-secondary) transparent; //firefox
    }

    .filter {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 2px;
        color: var(--theme-text-color);
        text-decoration: none;
        flex: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--theme-primary-highlight);
            mask-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
            mask-size: 200%;
            animation: shine-over 1.75s infinite;
        }

        &:not(:last-child) {
            margin-right: 42px;
        }
    }
}

// Theme Editor
.modal-content {
    background: var(--theme-secondary) !important;

    .modal-header {
        border-color: $border-light;
    }
    .modal-title {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
.theme-editor {
    cursor: pointer;
}
.theme-editor-wrapper {
    p {
        font-size: 18px;
        letter-spacing: 1px;
        color: var(--theme-primary-highlight);
    }
    .theme-editor-text-colors {
        margin-bottom: 20px;
    }
    .theme-editor-text-colors,
    .theme-editor-theme-colors {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .text-color,
    .theme-color {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: 1px 2px 5px rgb(0 0 0 / 25%);
        transition: 0.15s ease-in-out;
    }
    .text-color {
        height: 140px;
        width: 31%;
        opacity: 0.6;

        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }

        &.red {
            background: #ff6c6c;
        }
        &.blue {
            background: #778ce9;
        }
        &.cyan {
            background: #6cd9e7;
        }
        &.yellow {
            background: #f3d598;
        }
        &.pink {
            background: #fba0be;
        }
        &.green {
            background: #b9eb7e;
        }
    }
    .theme-color {
        height: 180px;
        width: 47%;
        text-transform: capitalize;
        border: 5px solid rgb(255 255 255 / 50%);

        &:hover {
            transform: scale(1.05);
        }

        &.cinder {
            background: linear-gradient(45deg, #10121a, #262934 100%);
        }
        &.mirage {
            background: linear-gradient(45deg, #16182a 0%, #212548 100%);
        }
        &.dark-slate {
            background: linear-gradient(45deg, #1d1e22 0%, #121214 100%);
        }
        &.darkness {
            background: linear-gradient(45deg, #060606 0%, #000000 100%);
        }
        &.light-gray {
            background: linear-gradient(45deg, #3a3a3a 0%, #505050 100%);
        }
    }
}