// temp
main {
    position: relative;
}
.inner-layout {
    display: flex;
}

.secondary-nav {
    position: fixed;
    width: 110px;
    height: 100%;
    background: $bg-body-lighter;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        list-style-type: none;
        height: 100%;
        padding: 0;
    }
    li {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        &:hover {
            .nav-icon {
                animation: bounce 1s infinite;
            }
            span {
                opacity: 1;
            }
        }
    }
    a {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: $body-text;

        .nav-icon {
            font-size: 30px;
        }

        span {
            opacity: 0;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.5px;
            margin-top: 6px;
            transition: 0.1s ease-in-out;
        }
    }
}

.secondary-searchbar {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    background: $bg-body-lighter;
}

.mov-searchbar {
    input,
    button {
        outline: none;
        background: none;
        box-shadow: none;
        border: none;
    }
    input {
        color: $body-text;
        font-size: 14px;
        font-weight: 500;

        &::placeholder {
            color: $body-text;
        }
    }
    button {
        padding-right: 15px;
    }
    .icon {
        font-size: 22px;
        color: $highlight-red;
    }
}

.inner-layout-content {
    width: calc(100vw - 110px);
    margin-left: 110px;

    .showcase-container {
        padding: 50px;
    }
    .showcase-inner {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 15px;
        row-gap: 15px;
    }
}

@keyframes bounce {
    0%,
    to {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}